<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/alumni</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="org.cevahir.alumni.model.City"/>
        <mapping class="org.cevahir.alumni.model.Firm"/>
        <mapping class="org.cevahir.alumni.model.Job"/>
        <mapping class="org.cevahir.alumni.model.LoginLog"/>
        <mapping class="org.cevahir.alumni.model.Mail"/>
        <mapping class="org.cevahir.alumni.model.Position"/>
        <mapping class="org.cevahir.alumni.model.User"/>
        <mapping class="org.cevahir.alumni.model.Year"/>
    </session-factory>
</hibernate-configuration>
